<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
                    <i class="class fa fa-user-circle text-success"></i> {{'OnlineNow' | translate }}
                </div>
                <div>
                    <strong>{{'Location' | translate }}:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>{{'Age' | translate }}:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>{{'LastActive' | translate }}:</strong>
                    <p>{{member.lastActive  | timeago}}</p>
                </div>
                <div>
                    <strong>{{'MemberSince' | translate }}:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">{{'Like' | translate }}</button>
                    <button (click)="selectTab('Messages')" class="btn btn-success">{{'Messages' | translate }}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="{{'About' | translate }} {{member.knownAs}}" id="About" (selectTab)="onTabActivated($event)">
                <h4>{{'Description' | translate }}</h4>
                <p>{{member.introduction}}</p>
                <h4>{{'LookingFor' | translate }}</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="{{'Interests' | translate }}" id="Interests" (selectTab)="onTabActivated($event)"  >
                <h4>{{'Interests' | translate }}</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading="{{'Photos' | translate }}" id="Photos" (selectTab)="onTabActivated($event)" >               
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
           <tab heading="{{'Messages' | translate }}" id="Messages"  (selectTab)="onTabActivated($event)"  >
                <app-member-messages [username]="member.userName"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>