<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">{{'RegisterTitle' | translate }}</h2>
    <hr>

    <div class="mb-3">
        <label style="margin-right:10px">{{'RegisterMenssage' | translate }}: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> {{'Male' | translate }}
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> {{'Female' | translate }}
        </label>
    </div>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" in1 
        [label]="'Username' | translate"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" 
        [label]="'KnownAs'| translate"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" 
        [label]="'DateOfBirth' | translate" [maxDate]="maxDate"></app-date-picker >
    <app-text-input [formControl]="$any(registerForm.controls['city'])" 
        [label]="'City' | translate"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" 
        [label]="'Country' | translate"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" 
        [label]="'Password' | translate" [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" 
        [label]="'ConfirmPassword' | translate"
        [type]="'password'"></app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">{{'Register' | translate }}</button>
        <button class="btn btn-default" type="button" (click)="cancel()">{{'Cancel' | translate }}</button>
    </div>
</form>
