<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark fixed-top bg primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active" >{{'SiteTitle' | translate }}</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
          <ng-container *ngIf="accountService.currentUser$  | async">
            <li class="nav-item">
              <a class="nav-link" routerLink="/members" 
                [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active" >{{'Matches' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active" >{{'Lists' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active" >{{'Messages' | translate }}</a>
            </li>
            <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active">{{'Admin' | translate }}</a>
          </li>
            <li class="nav-item" (click)="logout()">
              <a class="nav-link">{{'Logout' | translate }}</a>
            </li>
          </ng-container> 
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive="active" >{{'Errors' | translate }}</a>
          </li>-->
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$  | async) as user" dropdown>
          <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo">
          <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>{{'Greeting' | translate }} {{user.knownAs | titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" routerLink="/member/edit">{{'EditProfile' | translate }}</a>
            <a class="dropdown-item" (click)="logout()">{{'Logout' | translate }}</a>
          </div>
        </div>

        <form *ngIf="!(accountService.currentUser$  | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" >
          <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control me-2" 
                type="text" 
                placeholder="{{'Username' | translate }}">
          <input
                name="password"
                [(ngModel)]="model.password" 
                class="form-control me-2" 
                type="password" 
                placeholder="{{'Password' | translate }}">
          <button class="btn btn-success" type="submit">{{'Login' | translate }}</button>
        </form> 
      
        <span class="form-inline ms-5">
          <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.getLangs()" [value]="language"
              [selected]="language === translate.currentLang">
              {{ language }}
            </option>
          </select>
        </span>
    </div>
  </nav>
